<h1>Listing posts</h1>


    <% @posts.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-heading"><b><%= post.title %></b> by  <%= post.user.email %> </div>
        <div class="panel-body">
          <p>
            <%= post.content %>
          </p>
          <div class="btn-group">
          <%= link_to 'Show', post, :class => "btn btn-default" %>
          <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-default" %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
          </div>
        </div>
      </div>

    <% end %>

<br>
